body { font-size: 100%; font-family: arial; }
h1 { font-size: 5em; }
table { border: 5px solid black; }
td { font-size: 2em; }
.legend { color: navy; font-size: 2em; }

.ct-series-a .ct-line {
  stroke: navy;
  stroke-width: 2px;
}

.ct-series-b .ct-line {
  stroke: hotpink;
  stroke-width: 2px;  
}